spring:
  application:
    name: ecowork

  datasource:
    url: jdbc:postgresql://localhost:5432/ecowork
    username: postgres
    password: admin123
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  messages:
    basename: messages

  mvc:
    locale: pt_BR
    locale-resolver: accept-header

  cache:
    type: caffeine

logging:
  level:
    org.springframework: INFO
