spring:
  application:
    name: ecowork

  datasource:
    url: jdbc:postgresql://localhost:5432/ecowork
    username: postgres
    password: admin123

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    connect-retries: 5

  messages:
    basename: messages

  mvc:
    locale: pt_BR
    locale-resolver: accept-header

  cache:
    type: caffeine
    caffeine:
      spec: maximumSize=1000,expireAfterWrite=10m

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

jwt:
  secret: "98Bdjw92hDla7Ahs82nBsiQpqowXpqLZ0092nzmaSLLQpqowmznvllaasdns001"
  expiration: 86400000

logging:
  level:
    org.springframework: INFO